[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
chromedriver-binary = "==108.*"
pyinstaller = "*"
pyyaml = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.8"
